
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h5 {
   background-color: rgb(192, 219, 250);
   padding: 1rem;
   border-radius: 5px;
}

.nav {
 background-color: rgb(35, 133, 190);
 color: rgb(255, 255, 255);
 border-radius: 5px;


 
}

.nav a {
   color: rgb(255, 255, 255);
   text-decoration: none;
   font-family: 'Lato', sans-serif;
   font-size: 1.3em;
   padding-right: 1rem;
   

}

.nav a:hover {
  color: #60d39a;

}

.list-group li{
 color: rgb(0, 0, 0);
 font-weight: 500;
 background-color: rgb(255, 255, 255);
}



.navbar-brand  {
  padding-left: 1rem;

 }

 #logoutBtn {
 margin-left: auto;
 margin-right: 2rem;
 text-align: right;
  
 }

.comments li, li {
  background-color: rgb(250, 253, 207);
  border: 1px solid rgb(139, 139, 139);
  border-radius: 5px;
  width: 100%;
  font-weight: 600;
  margin-bottom: .5rem;
  padding: 5px;
 
}